<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Spam Classifier</title>
</head>
<body>

    <h1>Email Spam Classifier</h1>
    {% if label %}
        {% if label == '0' %}
            <h3 style="color:green">Not Spam</h3>
        {% else %}
            <h3 style="color:red">Spam</h3>
        {% endif %}
    {% endif %}
    <form action="/predict" method="post">
        <label>Type Email</label><br>
        <textarea name="email" cols="50" rows="20"></textarea><br>
        <input type="submit" value="Predict">
    </form>

</body>
</html>